name: Test

on: [push, workflow_dispatch]

jobs:
  tox_in_docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Run tests in Docker container
        run: make test
